.btn-mail {
    color: white !important;
    background-color: #0f9497 !important;
    border-color:#0f9497  !important;
  }
.btn-brouillon{
    background-color: #636e72 !important;
    color: #eceff1;
}

.btn-planifie {
    background-color: #00d2d3 !important;
    color: #eceff1;
}
.btn-telecharger{
    color: #fff;
    background-color: #0be2e696 !important;
    border-color: #0be2e696 !important;
}