<div class="row global-container">
  <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8 offset-xs-1 col-xs-10 align-self-center">
    <div class="card card-outline-secondary align-middle">
      <div class="card-header border-0 pb-0">
        <div class="card-title text-center">
          <img src="assets/app/images/sbp.png" alt="branding logo">
        </div>
        <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>{{ 'changePassword.msg'
            | translate }}</span></h6>
      </div>
      <div class="card-body">
        <form class="form" role="form" autocomplete="off" [formGroup]="form">
          <label class="sr-only" for="inlineFormInputGroup">Email</label>
          <div class="input-group mb-2">
            <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">
              <input type="password" style="border: 1px #e12382 solid;" formControlName="password" class="form-control form-control-lg"
                id="inlineFormInputGroup" placeholder="{{ 'changePassword.password' | translate }}">
            </show-hide-password>

            <ng-container *ngIf="form.touched && form.controls.password.errors != null">
              <p style="padding: 1.5vw 0vw 0vw 0vw;color: red;">{{ 'changePassword.minLengthErrors' | translate }}</p>
            </ng-container>


          </div>

          <div class="form-group">
            <button type="submit" (click)="recover()" class="btn btn-outline-primary btn-lg btn-block"><i class="ft-unlock"></i>
              {{ 'changePassword.save' | translate }} </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>