<div class="content-body">
  <section id="horizontal-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="zoom: 1;">

          <div class="card-header">
            <!-- <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a> -->
            <div class="heading-elements">
              <span *ngIf="facture?.status == statutFacture.Brouillon"
                class="badge badge-default badge-brouillon">{{ 'labels.brouillon' | translate }}</span>
              <span *ngIf="facture?.status == statutFacture.Encours"
                class="badge badge-default badge-planifiee">{{ 'labels.encours' | translate }}</span>
              <span *ngIf="facture?.status == statutFacture.Cloture"
                class="badge badge-default badge-success">{{ 'labels.cloture' | translate }}</span>
              <span *ngIf="facture?.status == statutFacture.Enretard"
                class="badge badge-default badge-enretard">{{ 'labels.enretard' | translate }}</span>
              <span *ngIf="facture?.status == statutFacture.Annule"
                class="badge badge-default badge-annuler">{{ 'labels.annulee' | translate }}</span>
            </div>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <!-- Information à saisir -->
              <form class="form form-horizontal">
                <div class="form-body">
                  <!-- Information facture-->
                  <h4 class="form-section">
                    <i class="ft-file-text"></i>{{ 'labels.infoFacture' | translate }}
                  </h4>

                  <!-- Reference + Client -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput189">{{
                          'labels.reference' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.reference" id="projectinput189" class="form-control"
                            disabled />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2">{{
                          'labels.chantier' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" [value]="facture?.idChantier | GetNameOfChantier"
                            disabled />
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput189">{{
                            'labels.client' | translate
                          }}</label>
                        <!-- <div class="col-md-9">
                          <input type="text" [value]="client?.nom" id="projectinput189" class="form-control" disabled />
                        </div> -->
                        <div class="col-md-9" *ngIf="facture?.idChantier  != null">
                          <input type="text" [value]="client?.nom" id="projectinput189" class="form-control" disabled />
                        </div>
                        <div class="col-md-9" *ngIf="facture?.idChantier  == null">
                          <input type="text" [value]="facture?.client?.nom" id="projectinput189" class="form-control"
                            disabled />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2">{{
                              'labels.adresseFacturation' | translate
                          }}</label>
                        <div class="col-md-9">
                          <input type="text" class="form-control" [value]="getAdresseDesignation(client?.adresses)"
                            disabled />
                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- date creation + date echeance -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput3">{{
                          'labels.dateCreation' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.dateCreation | date: 'dd/MM/yyyy'" id="projectinput175"
                            class="form-control" disabled />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput39">{{
                          'labels.dateEcheance' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.dateEcheance | date: 'dd/MM/yyyy'" id="projectinput178"
                            class="form-control" disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- objet -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-md-1 label-control" for="projectinput3">{{
                            'labels.objet' | translate
                          }}</label>
                        <div class="col-md-11">
                          <textarea type="text" class="form-control textarea-single-ligne"
                            style="width: 95.5%;float: right;" [value]="facture?.object" disabled></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <h4 class="form-section">
                  <i class="ft-shopping-cart"></i>{{ 'labels.articles' | translate }}
                </h4>
                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Acompte">
                    <table-article-facture-acompte [puc]="facture?.puc" [retenueGarantie]="facture?.retenueGarantie"
                      [partProrata]="facture?.prorata" [tvaGlobal]="facture?.tvaGlobal" [articles]="articles"
                      [readOnly]="true">
                    </table-article-facture-acompte>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Generale">
                    <!-- <div class="col-md-12"> -->
                    <table-article [puc]="facture?.puc" [remiseGloabl]="facture?.remise"
                      [retenueGarantieValue]="facture?.retenueGarantie" [delaiGarantie]="facture?.delaiGarantie"
                      [typeRemiseGloabl]="facture?.typeRemise" [partProrata]="facture?.prorata"
                      [tvaGlobal]="facture?.tvaGlobal" [articles]="articles" [readOnly]="true">
                    </table-article>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Situation">
                    <table-article-situation [readOnly]="true" [facture]="facture"></table-article-situation>
                  </div>
                </div>


                <!-- Section d'autre -->
                <h4 class="form-section">
                  <i class="ft-message-circle"></i>{{ 'labels.autres' | translate }}
                </h4>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control" for="conditionRegelement">{{
                        'labels.conditionRegelement' | translate
                      }}</label>
                      <div class="col-md-12">
                        <!-- <textarea type="text" id="conditionRegelement" class="form-control"
                          disabled>{{ facture?.conditionRegelement }}</textarea> -->
                        <angular-editor [config]="editorConfig" id="conditionRegelement"
                          [ngModel]="facture?.conditionRegelement" [ngModelOptions]="{standalone: true}">
                        </angular-editor>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control" for="note">{{
                        'labels.note' | translate
                      }}</label>
                      <div class="col-md-12">
                        <angular-editor [config]="editorConfig" id="note" [ngModel]="facture?.note"
                          [ngModelOptions]="{standalone: true}"></angular-editor>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Document associé-->

                <ng-container *ngIf="facture?.ficheInterventions?.length > 0 ">
                  <h4 class="form-section"><i class="fa fa-files-o"></i>{{'labels.documentAssocie' | translate}}</h4>

                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>{{ 'labels.type' | translate }}</th>
                          <th>{{ 'labels.reference' | translate }}</th>
                          <th>{{ 'labels.dateCreation' | translate }}</th>
                          <th>{{ 'labels.statut' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- LES FICHES intervention -->
                        <tr *ngFor="let item of facture?.ficheInterventions">
                          <td> {{ 'labels.ficheInterventions' | translate }} </td>
                          <td><a style="color:#065cb3;"
                              (click)="navigateToFicheInterventionDetail(item?.id)">{{ item?.reference }}</a></td>
                          <td> {{ item?.dateCreation | date:'dd/MM/yyyy' }} </td>
                          <td>
                            <span class="badge badge-default badge-success">{{ 'labels.facturee' | translate }}</span>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>